.col-sm-12
  %h1 Locales

  = link_to 'Nuevo Local', new_local_path, class: 'btn btn-success'

  %p

  %table.table
    %tr
      %th Local

    - @locals.each do |local|
      %tr
        %td= link_to local.name, local

  %br
